body,
html {
  margin: 0;
  font-family: sans-serif;
  background-color: rgb(181, 216, 213);
}

.content {
  margin: 0 auto;
  width: 400px;
}

.table-wrapper {
  border: 0.5px solid black;
  border-radius: 15px;
  overflow: hidden;
}

table {
  border-radius: 15px;
  border-collapse: separate;
  border-spacing: 0;
  overflow: hidden;
}

td,
th {
  border: 0.5px solid black;
  background-color: rgb(144, 196, 190);
}

table {
  border-collapse: collapse;
  width: 100%;
}

th {
  height: 30px;
}

td {
  text-align: center;
  padding: 5px;
  transition: background-color 0.3s, transform 0.2s;
}
button {
  background-color: #00000054;
  border: none;
  color: white;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s, transform 0.2s;
}
.delete:hover {
  background-color: #ff00007c;
}
.update:hover {
  background-color: #0000ff7c;
}
button:hover {
  transform: scale(1.1);
}

.form {
  margin-top: 20px;
}
.submit {
  height: 48px;
  width: 280px;
  border: 1px solid #c0c0c0;
  border-radius: 4px;
  box-sizing: border-box;
  padding: 16px;
}
#content {
  width: 70%;
  margin-top: 10px;
  padding: 5px;
}
