body,
html {
  margin: 0;
  font-family: sans-serif;
  background-color: rgba(118, 196, 190, 0.295);
}

.content {
  margin: 0 auto;
  width: 400px;
}

table,
td,
th {
  border: 1px solid #aaa;
  background-color: rgb(144, 196, 190);
}

table {
  border-collapse: collapse;
  width: 100%;
}

th {
  height: 30px;
}

td {
  text-align: center;
  padding: 5px;
  transition: background-color 0.3s, transform 0.2s;
}
button {
  background-color: #00000054;
  border: none;
  color: white;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s, transform 0.2s;
}

button:hover {
  background-color: #0000007c;
  transform: scale(1.1);
}

.form {
  margin-top: 20px;
}

#content {
  width: 70%;
}
