{% extends "base.html" %} {% block head %}
<title>To-Do List</title>
{% endblock %} {% block body %}
<div class="content">
  <h1 style="text-align: center; color: white">To-Do System</h1>

  {% if tasks|length < 1 %}
  <h4 style="color: white">No tasks. Create one!</h4>
  {% else %}
  <div class="tableContainer">
    <table>
      <tr>
        <th>Task</th>
        <th>Added</th>
        <th>Deadline</th>
        <th>Actions</th>
      </tr>

      {% for task in tasks %}
      <tr class="{% if task.is_overdue() %}overdue{% endif %}">
        <td>{{ task.content }}</td>
        <td>{{ task.date_created.strftime('%d-%m-%Y %H:%M') }}</td>
        <td>
          {% if task.deadline %} {{ task.deadline.strftime('%d-%m-%Y %H:%M') }}
          {% else %} No Deadline {% endif %}
        </td>
        <td>
          <button
            class="delete"
            onclick="location.href='/delete/{{ task.id }}'"
          >
            Delete
          </button>
          <br />
          <button
            class="update"
            onclick="location.href='/update/{{ task.id }}'"
          >
            Update
          </button>
        </td>
      </tr>
      {% endfor %}
    </table>
  </div>
  {% endif %}

  <div class="form">
    <form method="POST">
      <input type="text" name="content" required="true" />
      <label class="label" for="task" id="label-task">
        <div class="text">Task</div>
      </label>
      <input type="datetime-local" name="deadline" />
      <input class="submit" type="submit" value="Add Task" />
    </form>
  </div>
</div>
{% endblock %}
